<on-section class="section_header" backgroundColor="#ffffff">
    <div class="section_header_sub_1">
        <img id="logo_gov" src="../assets/govbr-logo-large.png">
        <p id="texto_ministerio">
            Ministério da Educação/CAPES
        </p>

        <p id="texto_orgaoGoverno">
            Órgãos do Governo
        </p>
        <p id="texto_acesso">
            Acesso à Informação
        </p>
        <p id="texto_legislacao">
            Legislação
        </p>
        <p id="texto_acessibilidade">
            Acessibilidade
        </p>

        <p id="texto_entrar">
            Entrar
        </p>
    </div>
    <div class="section_header_sub_2">
        <img id="logo_capes" src="../assets/logocapes2.png">
        <img id="logo_periodicos" src="../assets/logo_periodicos-simples2.jpg">

        <p id="texto_sobre">
            Sobre
        </p>
        <p id="texto_acervo">
            Acervo
        </p>
        <p id="texto_treinamentos">
            Treinamentos
        </p>
        <p id="texto_informativos">
            Informativos
        </p>
        <p id="texto_ajuda">
            Ajuda
        </p>
        <p id="texto_meuEspaco">
            Meu espaço
        </p>
    </div>
    <div class="section_header_sub_3">
        <p id="texto_infoAcesso">
            Você tem acesso ao conteúdo gratuito do Portal de Periódicos da CAPES
        </p>
        <p id="texto_acessoCafe">
            Acesso CAFe ⮟
        </p>
    </div>
</on-section>
<on-section class="section_pesquisa" backgroundColor="#ebebeb">
    <div class="section_pesquisa_wrapper">
        <router-outlet></router-outlet>
    </div>
</on-section>
<on-section class="section_footer" backgroundColor="#1c1c5e">
    <div class="section_footer_sub_1">
        <img class="margin_footer" id="logo_informacao" src="../assets/logo-acesso-a-informacao.png">
        <img class="margin_footer" id="logo_sei" src="../assets/logo-sei.png">
        <img class="margin_footer" id="logo_falabr" src="../assets/logo-fala-br.png">
    </div>

    <div class="section_footer_sub_2">
        <img class="margin_footer" id="logo_capes2" src="../assets/logo-capes.png">
    </div>
</on-section>